// this is SCSS .. which is easy to write and maintain and understand... 
// like literally just write and it converts it to actual css file !


$primary-color: #1461e5;
$primary-hover-color: #0f4c8c;
$success-color: #62ff00;
$success-hover-color: darken($success-color, 30%);  //darkens the success coulour by 30% to make the success hover colour !!
$title-color: #333;
$bg-color: wheat;



body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}


.content {
    max-width: fit-content;  // or 800px
    margin: 50px auto;
    padding: 20px;
    background-color: darken($bg-color, 10%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;


    // SCSS helps to just "nest" the styles as per the html layout..so it is convenient to write !
    // or else basic CSS is also kinda easy only, just more lines to write
    h1 {
        color:#ee00ff
    }

    
    h4 {
        color:rgb(255, 62, 62)
    }


    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        
        
        th, td 
        {
            padding: 10px;
            border: 1px solid #ed8c8c;

            th 
            {
                background-color: #f0f0f0;
                color: #333;
            }
        }
    }


    a {
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary-color;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover 
        {
            background-color: $primary-hover-color;
        }
    }


    input {
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
    }


    #btn_add 
    {
        background-color: $success-color;
        color: #fff;
        cursor: pointer;

        &:hover 
        {
            background-color: $success-hover-color;
        }
    }
}