<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>MEra APP</title>
</head>
<body>
    <h1>WELCOME to MEra APP</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eum vero perspiciatis quibusdam dolore dicta quia, saepe molestias, adipisci quo ipsam molestiae ratione eos quas error aliquid ipsum. Corporis, harum.</p>
    <div class="content">
        <h1>TASK SMASH 2.O</h1>
        <table>
            <tr>                                 table row tr
                <th>Task Name</th>               table head th
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Sample Task</td>            table data td
                <td>In Progress</td>
                <td>
                    <button>Complete</button>   
                    <button>Delete</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html> -->



<!-- REMOVING THE ABOVE CODE CUZ BASE HTML FILE IS ALREADY CREATED .. WE NOW JUST NEEED TO USE THE { block body} and { block head} and directly edit only those blocks in every new html file we will create!!!! (kinda Inheritance) -->




<!-- STARTING NEW CODES... -->
<!-- STARTING NEW CODES... -->
<!-- STARTING NEW CODES... -->
<!-- STARTING NEW CODES... -->


{% extends "base.html" %}



{% block head %}

<title>MEra APP</title>

{% endblock %}



{% block body %}

<h1>WELCOME to MEra APP</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eum vero perspiciatis quibusdam dolore dicta quia, saepe molestias, adipisci quo ipsam molestiae ratione eos quas error aliquid ipsum. Corporis, harum.</p>
    <div class="content">
        <h1>TASK SMASH 2.O</h1>
        <table>
            <tr>                                 <!--table row tr -->
                <th>Task Name</th>               <!--table head th -->
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Sample Task</td>            <!--table data td -->
                <td>In Progress</td>
                <td>
                    <button>Complete</button>   
                    <button>Delete</button>
                </td>
            </tr>
        </table>

        <form action="">
            <input type="text" name="content" id="content">         <!-- name is imp cuz thats whats we gonna call in the app.py file!! -->
            <input type="submit" value="Add Task" id="btn_add">
        </form>
    </div>

{% endblock %}